.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.service {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}
.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.service-head {
    background: var(--color-primary);
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.service-head h3 {
    color: var(--color-bg);
    text-align: center;
    font-size: 1rem;
}
.service-list {
    padding: 2rem;
}
.service-list li {
    margin-bottom: 0.8rem;
    display: flex;
    gap: 1rem;
}

.service-list-icon {
    margin-top: 2px;
    color: var(--color-primary);
}
.service-list p {
    font-size: 0.87rem;
}

/* media queries (tablets)  */

@media (max-width: 1024px) {
    .services-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    .service {
        height: auto;
    }
  }
  /* media queries phone  */
  @media (max-width: 600px) {
    .services-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
  }
  