header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* Header CTA  */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Header socials  */

.header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header-socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* myself image  */

.myself {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;

}

/* scroll down styling  */

.scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.9rem;
    background: var(--color-white);
    padding: 0 3px 0 3px ;
    border-radius: 0.4rem;
}
.scroll-down:hover {
    background: var(--color-primary);
    color: var(--color-bg);
}

/* media queries (tablets)  */

@media (max-width: 1024px) {
   header {
    height: 68vh;

   }
}   

@media (max-width: 600px) {
   header {
    height: 100vh;
   }
   .header-socials , .scroll-down {
         display: none;
   }
}   

